<div class="container">
  <h1>Superheros</h1>
  <br>
  <form name="addForm">
    <div class="form-group">
      <label><h3>Superhero Name</h3></label>
      <input type="text" id="first" class="form-control" ng-model="newSuperhero.name" placeholder="Superhero Name">
      <label><h3>Superhero Ability</h3></label>
      <input type="text" class="form-control" ng-model="newSuperhero.ability" placeholder="Superhero Abilty">
      <label><h3>Superhero Nemesis</h3></label>
      <input type="text" class="form-control" ng-model="newSuperhero.nemesis" placeholder="Superhero Nemesis">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="addSuperhero()">Save Superhero</button>
  </form>

  <hr><br>
  <h4>Filter by Name:</h4>
  <input type="text" ng-model='nameText'>
  <br>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Ability</th>
          <th>Nemesis</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="superhero in superheros | filter:nameText">
          <td> {{ superhero.name }} </td>
          <td> {{ superhero.ability }} </td>
          <td> {{ superhero.nemesis }} </td>
          <td>
            <button type="button" name="edit-button" ng-click="editSuperhero()" class="btn btn-success btn-xs">Edit</button>
            <button type="button" name="delete-button" ng-click="deleteSuperhero()" class="btn btn-danger btn-xs">X</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
